<style>
  .bold {
    font-weight: bold;
  }
</style>
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>All Events</h4></div>
    <div class="panel-body">
      <table class="table">
        <tr>
            <th>Cluster</th>
            <th>Name / Host</th><th>Version</th><th>When</th>
          <th>Previous Status</th><th>New Status</th><!--<th>Type</th>-->
        </tr>
        <tr ng-repeat="event in eventsCtrl.events" 
            ng-class="{'success': event.StatusCode == 0, 'warning': event.StatusCode == 1, 'danger': event.StatusCode == 2 }" ng-class="{'bold': event.Type == 'Deployment'}">
          <td ng-class="{'bold': event.Type == 'Deployment'}">{{ event.ClusterName }}</td>
          <td ng-class="{'bold': event.Type == 'Deployment'}">{{ event.Name }}<br/>{{ event.Hostnames[0] }}</td>
          <td ng-class="{'bold': event.Type == 'Deployment'}">{{ event.Version }}</td>
          <td>{{ event.Time | date : 'MMM d H:mm:ss.sss' : 'UTC' }}</td>
          <td>{{ event.PreviousStatus }}</td>
          <td ng-if="event.Type == 'Deployment'" class="bold">Deploy</td>
          <td ng-if="event.Type == 'ServiceEvent'">{{ event.Status }}</td>
          <!--<td ng-class="{'bold': event.Type == 'Deployment'}">{{ event.Type }}</td>-->
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><h4>Deployments</h4></div>
    <div class="panel-body">
      <table ng-repeat="service in eventsCtrl.deployments" in class="table">
        <tr>
            <th>Name</th><th>Version</th><th>Start Time</th><th>End Time</th>
            <th>Hosts</th>
        </tr>
        <tr ng-repeat="deploy in service ">
          <td>{{ deploy.Name }}</td>
          <td>{{ deploy.Version }}</td>
          <td>{{ deploy.StartTime | date : 'MMM d H:mm:ss.sss' : 'UTC' }}</td>
          <td>{{ deploy.EndTime | date : 'MMM d H:mm:ss.sss' : 'UTC' }}</td>
          <td>{{ deploy.Hostnames.length }}</td>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>

<timeline>
  <timeline-event ng-repeat="event in eventsCtrl.events" side="right">
    <timeline-badge class="{{event.badgeClass}}">
      <i class="glyphicon {{event.badgeIconClass}}"></i>
    </timeline-badge>
    <timeline-panel class="{{event.badgeClass}}">
      <timeline-heading>
        <h4>{{ event.Name }} - {{ event.ClusterName }}</h4>
      </timeline-heading>
      <ul>
        <li>Version: {{ event.Version }}</li>
        <li>Hostname: {{ event.Hostnames[0] }}</li>
      </ul>
    </timeline-panel>
  </timeline-event>
</timeline>
