<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.min.css">
<style>
    svg {
        display: block;
        float: left;
        height: 1024px !important;
        width: 1024px !important;
    }
	svg text {
	    fill: white;
	}

    .nvd3.nv-pie.nv-chart-donut2 .nv-pie-title {
        fill: gray;
    }

    .nvd3.nv-pie.nv-chart-donut1 .nv-pie-title {
        opacity: 0.4;
        fill: green;
    }
</style>

<div class="col-md-12">
	<div class="col-md-4">
		<h3>Top Services by Number of Events</h3>
		<nvd3 options="graphCtrl.options" data="graphCtrl.eventPercentages"></nvd3>
	</div>

	<div class="col-md-4">
		<h3>Top Services by Number of Flaps</h3>
		<nvd3 options="graphCtrl.options" data="graphCtrl.eventFlaps"></nvd3>
	</div>
</div>
