<link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.min.css">
<style>
    svg {
        display: block;
        float: left;
    }
	svg text {
	    fill: white;
	}

    .nvd3.nv-pie.nv-chart-donut2 .nv-pie-title {
        fill: gray;
    }

    .nvd3.nv-pie.nv-chart-donut1 .nv-pie-title {
        opacity: 0.4;
        fill: green;
    }
</style>

<div class="col-md-12">
	<div class="col-md-4">
		<h3>Top Services by Event Count</h3>
		<nvd3 options="graphCtrl.pieOptions" data="graphCtrl.eventCounts"></nvd3>
	</div>

	<div class="col-md-4">
		<h3>Top Services by Unhealthy Events</h3>
		<nvd3 options="graphCtrl.barOptions" data="graphCtrl.unhealthyEvents"></nvd3>
	</div>

	<div class="col-md-4">
		<h3>Top Services by Tombstone Events</h3>
		<nvd3 options="graphCtrl.barOptions" data="graphCtrl.tombstoneEvents"></nvd3>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>State Change Events</h3>
			<nvd3 options="graphCtrl.lineOptions" data="graphCtrl.statusChangeEvents"></nvd3>
		</div>
	</div>
</div>
